In [2]:
import pandas as pd
# Load dataset
sales_data=pd.read_csv(r"D:\COE\dataset\datasets-main\store_sales (1).csv")
sales_data.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

In [3]:
sales_data.tail()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

In [4]:
# Display shape
sales_data.shape

(100, 14)

In [5]:
# Display data types and non-null counts
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  100 non-null    object
 1   city      100 non-null    object
 2   Jan       100 non-null    int64
 3   Feb       100 non-null    int64
 4   Mar       100 non-null    int64
 5   Apr       100 non-null    int64
 6   May       100 non-null    int64
 7   Jun       100 non-null    int64
 8   July      100 non-null    int64
 9   Aug       100 non-null    int64
 10  Sep       100 non-null    int64
 11  Oct       100 non-null    int64
 12  Nov       100 non-null    int64
 13  Dec       100 non-null    int64
dtypes: int64(12), object(2)
memory usage: 11.1+ KB

In [6]:
sales_data.columns

Index(['store_id', 'city', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      dtype='object')

In [7]:
sales_data.describe

<bound method NDFrame.describe of    store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
0       S_1       Texas    8   20   13   21   17   20    24   17   16    9
1       S_2  California   12   19   15   15   11   19     7   15   10   11
2       S_3  California   16   16   14   19   23    6    13   13   15   14
3       S_4       Texas    8   18   13   10   14   14     6    8    8   18
4       S_5       Texas   19    5   24    9    5   24    10    5   24   15
..      ...         ...  ...  ...  ...  ...  ...  ...   ...  ...  ...  ...
95     S_96       Texas    7   10   20   20   10   15    15   21   15    7
96     S_97  California   13    6    7   15   22   10    21   23   10    6
97     S_98       Texas   16    9    6   14   20   13    11   10    8   22
98     S_99     Arizona   18   16    9    5   12   22    11   13   21   17
99    S_100  California    5   23   17   24   15   21    19   10   12   20

    Nov  Dec
0     7    6
1    21   19
2    24    8
3     7   11
4     6   13
..  ...  ...
95   23   22
96   12    9
97   17   22
98   19   10
99    5    9

[100 rows x 14 columns]>

In [8]:
# Calculate total and average sales per month
monthly_sales=sales_data[['Jan','Feb','Mar','Apr']]
# Total sales per month
total_sales = monthly_sales.sum()
print(total_sales)

Jan    1446
Feb    1509
Mar    1456
Apr    1457
dtype: int64

In [9]:
# Average sales per month
average_sales = monthly_sales.mean()
print( average_sales)

Jan    14.46
Feb    15.09
Mar    14.56
Apr    14.57
dtype: float64

In [10]:
# Total yearly sales for all stores combined
total_yearly_sales_all_stores = sales_data[['Jan','Feb','Mar','Apr']].sum()
print(total_yearly_sales_all_stores)

Jan    1446
Feb    1509
Mar    1456
Apr    1457
dtype: int64

In [11]:
    # Total yearly sales for all stores combined
total_yearly_sales_all_stores = sales_data[['Jan','Feb','Mar','Apr']].sum()
print(total_yearly_sales_all_stores)

Jan    1446
Feb    1509
Mar    1456
Apr    1457
dtype: int64

In [15]:
top_5= sales_data.sort_values(by='TOTAL_SALES',ascending=False).head(5)
top_5[['store_id','TOTAL_SALES']]

KeyError: 'TOTAL_SALES'